<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="container">

       <div class="row">
        <div class="col-md-6">
            <h1>INFORMATION</h1>
            
            <p>Looking for the best web Design Services Albenus is one of the most trusted web design Services where you can get 100% required result in web design Services.. We are having experts in web design Services who are always ready for providing you Services at best..

                A responsive website is definitely better placed to attract a consistently higher traffic compared to a non-responsive website. In Hyderabad, we have a team of skilled and highly experienced experts who will collaborate with you to roil out the kind of responsive web design that reaches even the most specific of your requirements.
                
                Have a look at some of our work samples and you will know that our web developers do an awesome job ensuring that your website is designed with the best visibility across devices and platforms. Convert PSD to HTML Services: Need of the Best web Services?!! NO worries… Albenus will get in touch as soon as you contact to provide you affordable services…</p>



                <br>
                <button class="btn-btn white">Have An Account</button>


        </div>
        
       <div class="col-6">

        <div class="container">
            
            <h2 class="text-primary">REGISTER FORM</h2>

            <br>
    
        <div class="centered">
            <div class="row">
  
      <div class="form-group col-6">
          <label for="x">First name</label>
          <input type="text" placeholder="firstname" class="form-control" id="fst">
      </div>
  
      <div class="form-group col-6 ">
          <label for="lst">last name</label>
          <input type="text" placeholder="lastname" class="form-control" id="lst">
      </div>
            </div>
      <div class="form-group">
          <label for="eml">EMAIL</label>
          <input type="text" placeholder="email" class="form-control" id="eml" required ngModel name="eml" #ref1="ngModel">
     
          <div *ngIf="ref1.invalid&&(ref1.touched||ref1.dirty)" class="alert alert-danger">
            <div *ngIf="ref1.errors.required">*this field is mandotory</div>


      </div>
     
     
     
     
     
        </div>
  
      <div class="centered">
          <div class="row">
  
    <div class="form-group col-6">
        <label for="x">password</label>
        <input type="text" placeholder="password" class="form-control" id="fst">
    </div>
  
    <div class="form-group col-6 ">
        <label for="lst">confirmpassword</label>
        <input type="text" placeholder="confirmpassword" class="form-control" id="lst">
    </div>
          </div>
  
  
  
          <div class="form-group">        
              <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                  <label><input type="checkbox" name="remember"> i agree to the terms and conditions</label>
                </div>
              </div>
            </div>
      
  
  <div class="text-center">
      <button class="btn btn-success">REGISTER</button>
  </div>
  
  </div>
      
  </div>
  </div>
  



       </div>






    
     </div>
    


























    </div>
        





</body>
</html>