
 <div class="topnav-centered">
  <div class="bg-img">
    
     
  <nav class="navbar navbar-expand-sm bg-dark centered">
  
  <!--   
      Links -->
        <ul class="navbar-nav text-center">
        
       
          <li class="nav-item">
              <a class="nav-link" routerLink="reg1">REGISTRATION 1</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" routerLink="reg2">DINNER</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" routerLink="reg3">REGISTRATION 2</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" routerLink="reg4">REGISTRATION 3</a>
            </li> 
         
        -
        
     
      </ul>
    
    </nav> 
   
      </div>
  </div>

  
<!--   
  <div>
    <app-reg1></app-reg1>
    <app-reg2></app-reg2>

    <app-reg3></app-reg3>
    <app-reg4></app-reg4>
  </div> -->
  
  <router-outlet></router-outlet>
  

  
  
  
  
  
  
  
  